
<br />
<br />

<h3 class=" text-center">About Us</h3>

<div class="row row-cols-1 row-cols-md-16 g-2" style="padding:50px;">

    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                @*<img src="~/Content/Logos/in home.jpeg" class="card-img-top" />*@

                <img src="~/Content/Logos/MOHD LOGO hid.png" class="card-img-top" height="250" style="width:250px;" />

                <img src="~/Content/Logos/MOHD LOGO hid1.png" />

                @*<img src="~/Content/Logos/MOHD LOGO copy.png" class="card-img-top" height="250" style="width:250px;" />*@

            <div class="card-body">
                <h4>Emails : ali-jameel@hotmail.com</h4>
                <h4> &nbsp; &nbsp; &nbsp; &nbsp; logical86@gmail.com</h4>
                <h4> &nbsp; &nbsp; &nbsp;    jassim-96@live.com</h4>
                <br />
                <h4>Phones : +973 3717 1334   &nbsp; &nbsp;   &nbsp;  &nbsp; &nbsp;   &nbsp;</h4>
                <h4> &nbsp; &nbsp;   +973 3993 9138</h4>
                <h4> &nbsp; &nbsp; +973 3360 0940</h4>


            </div>

            </div>
        </div>
    </div>
</div>