@model Ali_Jameel.Models.Calculator

@{
    //Layout = null;
}




<div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>System Size</td>
                <td><input id="SystemSize" type="text" /></td>
                <td> Saving Per Month</td>
                <td><label></label></td>
            </tr>
            <tr>
                <td>Installation Cost</td>
                <td><input id="InstallationCost" type="text" /></td>
                <td>PayBack Period</td>
                <td><label></label></td>
            </tr>
            <tr>
                <td>Electricity Cost</td>
                <td><input id="ElectricityCost" type="text" /></td>
                <td>Total Saving</td>
                <td><label></label></td>
            </tr>

            <tr>
                <td>Time Period</td>
                <td><input id="TimePeriod" type="text" /></td>
                <td> Baterry Saving </td>
                <td><label></label></td>
            </tr>

            <tr>
                <td>Battery Cost</td>
                <td><input id="BatteryCost" type="text" /></td>
                <td>Battery Payback Period</td>
                <td><label></label></td>
            </tr>

        </tbody>
    </table>

    <div class="container">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary">Calculate</button>
            
        </div>
    </div>
</div>